h3 {
    border-bottom:1px solid rgb(24,255,111);
}
h2 {
    border-bottom:1px solid rgb(237,233,212);
}
.main_comment {
    background:rgb(238, 67, 24);
}
.btnLike {
    width:50px;
    height:30px;
    background:rgb(24,255,111);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.btnLike:hover {
    cursor: pointer;
}
.main_comment,.comment {
    
    padding:10px;
    margin-bottom:10px;
}
.comment {
    background:rgb(237,233,212);
}
